flows.json
[{"id":"a4902a9b.4d2758","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d89915da.f87968","type":"function","z":"a4902a9b.4d2758","name":"PreToken","func":"global.set(\"i\",msg.payload.i)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"su\",msg.payload.su)\nglobal.set(\"rb\",msg.payload.rb)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"pcc\",msg.payload.pcc)\nglobal.set(\"ba\",msg.payload.ba)\nglobal.set(\"bg\",msg.payload.bg)\nglobal.set(\"bu\",msg.payload.bu)\nglobal.set(\"sc\",msg.payload.sc)\nglobal.set(\"so\",msg.payload.so)\nglobal.set(\"pot\",msg.payload.pot)\nglobal.set(\"he\",msg.payload.he)\nglobal.set(\"pcv\",msg.payload.pcv)\nglobal.set(\"wc\",msg.payload.wc)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"htn\",msg.payload.htn)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"cad\",msg.payload.cad)\nglobal.set(\"app\",msg.payload.app)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ane\",msg.payload.ane)\nvar apikey=\"NhvtiUW0dCwM_GZfgCGBbISUyccNu0j8XT4iUgdnm9FH\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":380,"wires":[["df184023.8a1f2"]]},{"id":"df184023.8a1f2","type":"http request","z":"a4902a9b.4d2758","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1179,"y":368.9999952316284,"wires":[["e60872bc.05191"]]},{"id":"1974b0ca.b20dcf","type":"debug","z":"a4902a9b.4d2758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1618.0000114440918,"y":110.99999713897705,"wires":[]},{"id":"e60872bc.05191","type":"function","z":"a4902a9b.4d2758","name":"Pre Prediction","func":"var i = global.get('i')\nvar a = global.get('a')\nvar b = global.get('b')\nvar s = global.get('s')\nvar al = global.get('al')\nvar su = global.get('su')\nvar rb = global.get('rb')\nvar p = global.get('p')\nvar pcc = global.get('pcc')\nvar ba = global.get('ba')\nvar bg = global.get('bg')\nvar bu = global.get('bu')\nvar sc = global.get('sc')\nvar so = global.get('so')\nvar pot = global.get('pot')\nvar he = global.get('he')\nvar pcv = global.get('pcv')\nvar wc = global.get('wc')\nvar rc = global.get('rc')\nvar htn = global.get('htn')\nvar dm = global.get('dm')\nvar cad = global.get('cad')\nvar app = global.get('app')\nvar pe = global.get('pe')\nvar ane = global.get('ane')\nvar token=msg.payload.access_token\nvar instance_id=\"11ee0b6d-f829-4e79-ba98-6bea02adb4aa\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"id\", \"age\", \"bp\", \"sg\", \"al\", \"su\", \"rbc\", \"pc\", \"pcc\", \"ba\", \"bgr\", \"bu\", \"sc\", \"sod\", \"pot\", \"hemo\", \"pcv\", \"wc\", \"rc\", \"htn\", \"dm\", \"cad\", \"appet\", \"pe\", \"ane\"],\"values\": [[i,a,b,s,al,su,rb,p,pcc,ba,bg,bu,sc,so,pot,he,pcv,wc,rc,htn,dm,cad,app,pe,ane]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1376.0000076293945,"y":331.9999990463257,"wires":[["51aedf5e.53167"]]},{"id":"51aedf5e.53167","type":"http request","z":"a4902a9b.4d2758","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/44829493-0be1-4e18-8794-841e8ee31221/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1480.5000076293945,"y":275.9999990463257,"wires":[["ca70e24e.d338","1974b0ca.b20dcf"]]},{"id":"ca70e24e.d338","type":"function","z":"a4902a9b.4d2758","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1329.6000366210938,"y":171.60000133514404,"wires":[["a0675779.80bc18"]]},{"id":"4d5917f6.b26a88","type":"ui_form","z":"a4902a9b.4d2758","name":"","label":"","group":"73dfda34.1cd494","order":0,"width":0,"height":0,"options":[{"label":"id","value":"i","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null},{"label":"bp","value":"b","type":"number","required":true,"rows":null},{"label":"sg","value":"s","type":"number","required":true,"rows":null},{"label":"al","value":"al","type":"number","required":true,"rows":null},{"label":"su","value":"su","type":"number","required":true,"rows":null},{"label":"rbc","value":"rb","type":"text","required":true,"rows":null},{"label":"pc","value":"p","type":"text","required":true,"rows":null},{"label":"pcc","value":"pcc","type":"text","required":true,"rows":null},{"label":"ba","value":"ba","type":"text","required":true,"rows":null},{"label":"bgr","value":"bg","type":"number","required":true,"rows":null},{"label":"bu","value":"bu","type":"number","required":true,"rows":null},{"label":"sc","value":"sc","type":"number","required":true,"rows":null},{"label":"sod","value":"so","type":"number","required":true,"rows":null},{"label":"pot","value":"pot","type":"number","required":true,"rows":null},{"label":"hemo","value":"he","type":"number","required":true,"rows":null},{"label":"pcv","value":"pcv","type":"number","required":true,"rows":null},{"label":"wc","value":"wc","type":"number","required":true,"rows":null},{"label":"rc","value":"rc","type":"number","required":true,"rows":null},{"label":"htn","value":"htn","type":"text","required":true,"rows":null},{"label":"dm","value":"dm","type":"text","required":true,"rows":null},{"label":"cad","value":"cad","type":"text","required":true,"rows":null},{"label":"appet","value":"app","type":"text","required":true,"rows":null},{"label":"pe","value":"pe","type":"text","required":true,"rows":null},{"label":"ane","value":"ane","type":"text","required":true,"rows":null}],"formValue":{"i":"","a":"","b":"","s":"","al":"","su":"","rb":"","p":"","pcc":"","ba":"","bg":"","bu":"","sc":"","so":"","pot":"","he":"","pcv":"","wc":"","rc":"","htn":"","dm":"","cad":"","app":"","pe":"","ane":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":771,"y":422.9999952316284,"wires":[["d89915da.f87968"]]},{"id":"a0675779.80bc18","type":"ui_text","z":"a4902a9b.4d2758","group":"73dfda34.1cd494","order":1,"width":0,"height":0,"name":"","label":"result","format":"{{msg.payload}}","layout":"row-spread","x":1497.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"73dfda34.1cd494","type":"ui_group","z":"a4902a9b.4d2758","name":"Chronic kidney disease","tab":"acbcfc2a.7a743","order":1,"disp":true,"width":"6","collapse":false},{"id":"acbcfc2a.7a743","type":"ui_tab","z":"a4902a9b.4d2758","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]